.animesDiv{
    display: flex;
    margin: 97px 10px 20px 10px;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    /*No selectable Elements*/
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.animeBlock{
    width: 15vw;
    min-width: 100px;
    background: #000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #007;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 75;
}

.animeImg{
    width: 100%;
}

.animeImg:hover{
    cursor: pointer;
}