.animesDiv{
    display: flex;
    margin: 15vh 10px 20px 10px;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    /*No selectable Elements*/
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.animeBlock{
    width: 15vw;
    min-width: 100px;
    background: #000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #007;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 75;
    outline: none;
}

.animeBlock:focus{
    box-shadow: 0px 0px 3px 4px #fff;
}

.animeImg{
    width: 100%;
}

.animeImg:hover{
    cursor: pointer;
}

.selectGenre{
    margin-top: 15vh;
    z-index: 1000;
}

.slctGenre{
    z-index: 1000;
}

.genreSelect{
    background: #007;
    z-index: 1000;
}

.genreSubtitle{
    z-index: 1000;
}