.Watching{
    opacity: 0;
    animation: showDiv 1s forwards;
    animation-delay: 5s;
    margin-top: 15vh;
}

.seeingDiv{
    display: flex;
    margin: 5vh 10px 20px 10px;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    /*No selectable Elements*/
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.seeingBlock{
    width: 15vw;
    min-width: 100px;
    background: #000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #007;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 75;
    outline: none;
}

.seeingBlock:focus, .seeingBlock:hover{
    box-shadow: 0px 0px 3px 4px #fff;
}

.seeingImg{
    width: 100%;
    height: 100%;
}

.seeingImg:hover{
    cursor: pointer;
}

.Watching h3{
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 5px #007;

    /*No selectable Elements*/
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.spaceTop{
    margin-top: 50px;
}

.animate{
    opacity: 0;
    animation: show 3s forwards;
}

.show1{
    animation-delay: 3s;
}

.show2{
    animation-delay: 3.5s;
}

.show3{
    animation-delay: 4s;
}

@media screen and (max-width: 600px)
{
    .Watching h3{
        font-size: 20px;
    }
}

@keyframes show{
    from{
        transform: translateY(10px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes showDiv{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}