.globalContainer{
    width: 90%;
    min-height: 80vh;
    margin-left: 5%;
    margin-top: 15vh;
    margin-bottom: 10px;
    background: #2a2b2bf7;
    display: flex;
    justify-content: center;
    gap: 5%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #fff;
}

.centerImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-top: 15px;
}

.imgContainer{
    margin-bottom: 20px;
    width: 30%;
    background: #346bf7;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px #346bf7;
}

.imgContainer img{
    width: 100%;
    max-width: 300px;
    max-height: 400px;
}

.data{
    margin-top: 20px;
    margin-right: 2%;
    margin-bottom: 20px;
    width: 63%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.title{
    margin-left: 5%;
    height: 7vh;
    width: 90%;
}

.title h2{
    margin-top: 5px;
    text-align: center;
    font-size: 3.5vh;
    color: #fff;

}

.info{
    background: #346bf7;
    margin-bottom: 20px;
    margin-left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    box-shadow: 2px 2px 5px #fffa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descDiv{
    margin-left: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.genreDiv{
    margin-left: 5%;
    width: 90%;
    display: flex;
    gap: 2%;
    justify-content: center;
}

.seasonDiv{
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
}

.stDiv{
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.subtitle{
    font-size: 3vh;
}

.infoSize{
    font-size: 2vh;
}

.descMargin{
    margin-top: -20px;
}

.fixHeight{
    margin-top: 3.8vh;
}

.boxedDiv{
    background: #2b58ca;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;
    width: 100px;
    margin-bottom: 10px;
}

.boxedDivMargin{
    margin-left: 10px;
    margin-right: 10px;
}

.animated{
    opacity: 0;
    animation: show 3s forwards;
}

.d1{
    animation-delay: 3s;
}

.d2{
    animation-delay: 4s;
}

.d3{
    animation-delay: 5s;
}

.d4{
    animation-delay: 6s;
    margin-bottom: 20px;
}

.movieInfoBottom{
    margin-bottom: 20px;
}

.collectionMovies{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 5%;
    margin-top: 20px;
    padding-bottom: 5vh;
}

.movieCollectionDiv{
    max-width: 150px;
    max-height: 200px;
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    z-index: 75;
    box-shadow: 2px 2px 5px #007;
}

.movieCollectionDiv:focus, .movieCollectionDiv:hover{
    box-shadow: 0px 0px 3px 4px #fff;
}

.movieCollectionImg{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 725px){
    .globalContainer{
        position: relative;
        flex-direction: column;
        margin-bottom: 20px;
        height: 100%;
    }

    .centerImg{
        flex-direction: row;
        justify-content: center;
        margin-left: 0;
    }
    
    .imgContainer{
        display: flex;
        justify-content: center;
        max-width: 150px;
        margin-top: 20px;
    }

    .title{
        margin-bottom: 5vh;
        height: 50px;
    }

    .imgContainer img{
        width: 100%;
    }

    .data{
        width: 90%;
        margin-left: 5%;
    }

    .title{
        margin-top: -10px;
    }

    .stDiv{
        gap: 10px;
    }

    @media screen and (max-width: 400px) {
        .seasonDiv{
            margin-top: 20px;
            flex-direction: column;
            gap: 20px;
        }

        .boxedDiv{
            width: 50%;
            margin-left: 24%;
        }

        .boxedDivMargin{
            font-size: 5vw;
        }
    }
}

@keyframes show{
    from{
        transform: translateY(10px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}