.links{
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    background: #2a2b2bf7;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid #fff;
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 1000;

    /*No selectable Elements*/
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.webTitle{
    margin-top: 2vh;
    height: 6vh;
    margin-left: 20px;
    color: #fff;
    outline: none;
}

.webTitle img{
    height: 100%;
    max-width: 150px;
}

.linkContainer {
    width: 100%;
}

.link-list{
    display: flex;
    gap: 20px;
    margin-top: 3vh;
    margin-right: 20px;
}

.link{
    font-size: 3vh;
    text-decoration: none;
    color: #fff;
    outline: none;
}

.link:hover{
    color: #346bf7;
}

.link:focus{
    color: #346bf7;
}

.menuBtn{
    width: 6vh;
    height: 5vh;
    min-width: 6vh;
    min-height: 5vh;
    margin-top: 2.5vh;
    margin-right: 15px;
    background: none;
    outline: none;
    border: none;
    overflow: hidden;
    justify-content: center;
    display: none;
    cursor: pointer;
}

#chkbx{
    display: none;
}

@media screen and (max-width: 600px){
    .link-list{
        display: none;
        top: -100vh;
    }

    .menuBtn{
        display: flex;
    }

    #chkbx:checked ~ .link-list{
        position: fixed;
        display: flex;
        flex-direction: column;
        z-index: 70;
        height: 90vh;
        width: 100%;
        top: 7.25vh;
        background: #007;
        gap: 5vh;
        justify-content: center;
        opacity: 0;
        animation: showMenu .5s forwards;
    }

    .link{
        text-align: center;
        font-size: 30px;
    }
}

@keyframes showMenu{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}