.loadingDiv{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    background: #00a;
    animation: load 3s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*No selectable Elements*/
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.circle-load{
    width: 5vw;
    height: 5vw;
    border: 3px solid #2a2b2bf7;
    border-top: 3px solid #346bf7;
    border-radius: 50%;
    animation: 2s loading-spin infinite;
}

.wavy{
    margin-top: 5vh;
    position: relative;
}

.wavy span{
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 1.5vw;
    text-transform: uppercase;
    animation: wave 2s ease-in-out infinite;
}

#one{
    animation-delay: .1s;
}

#two{
    animation-delay: .2s;
}

#three{
    animation-delay: .3s;
}

#four{
    animation-delay: .4s;
}

#five{
    animation-delay: .5s;
}

#six{
    animation-delay: .6s;
}

#seven{
    animation-delay: .7s;
}

#eight{
    animation-delay: .8s;
}

#nine{
    animation-delay: .9s;
}

#ten{
    animation-delay: 1s;
}

@keyframes loading-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes load {
    0%{
        opacity: 1;
    }

    100%{
        z-index: 0;
        opacity: 0;
    }
}

@keyframes wave{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%, 100%{
        transform: translateY(0px);
    }
}

@media screen and (max-width: 600px){
    .wavy span{
        font-size: 20px;
    }
}