.seriesDiv{
    display: flex;
    margin: 11vh 10px 20px 10px;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    opacity: 0;
    animation: showDiv 1s forwards;
    animation-delay: 5s;

    /*No selectable Elements*/
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.serieBlock{
    width: 15vw;
    min-width: 100px;
    background: #000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #007;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 75;
    outline: none;
}

.serieBlock:focus, .serieBlock:hover{
    box-shadow: 0px 0px 3px 4px #fff;
}

.serieImg{
    width: 100%;
}

.serieImg:hover{
    cursor: pointer;
}

.genreContainer{
    width: 95vw;
    margin-left: 3vw;
    margin-right: 2vw;
    z-index: 100;
    text-align: end;
    display: flex;
    gap: 0;
    color: #fff;
    text-shadow: 2px 2px 5px #007;
}

#genreSelect{
    box-shadow: 2px 2px 5px #007;
    background: #2a2b2bf7;
    color: #fff;
    outline: none;
    border: none;
    width: 10vw;
    height: 4vh;
    min-width: 125px;
    border-radius: 5px;
}

#genreLabel{
    width: 30vw;
    font-size: 2vh;
}

.genreSubtitle{
    text-align: left;
    width: 70vw;
    font-size: 4vh;
}

.subtitleBar{
    width: 100vw;
    height: 1px;
    border: none;
    border-top: 2px solid #fff;
    opacity: 0.75;
    margin-top: -10px;
    box-shadow: 1px 1px 10px #000;
}

option:checked{
    background: #007;
}

@keyframes showDiv{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}